html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

a { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.wrap { width: 1235px; margin: 22px auto; font: 13px sans-serif; }

/*-----header--------------------------------------- */
.header { *zoom: 1; border-bottom: 2px solid #979797; height: 106px; }
.header:after { content: " "; display: table; clear: both; }

.header__roll { display: block; *zoom: 1; margin-bottom: 11px; }
.header__roll:after { content: " "; display: table; clear: both; }
.header__roll .header__roll-vers { display: inline-block; font-size: 11px; line-height: 11px; margin-left: 100px; }
.header__roll div, .header__roll ul { vertical-align: top; }

.logo { background: url(../img/logo.png); height: 49px; width: 186px; display: inline-block; }

/*-----article-------------------------------------- */
.article { letter-spacing: 0.07em; border-bottom: 3px solid #979797; *zoom: 1; padding-top: 50px; }
.article:after { content: " "; display: table; clear: both; }
.article a { text-decoration: none; color: black; }
.article a:hover { color: #e1001b; }
.article section { float: left; }

.article__news { width: 970px; }

.block { *zoom: 1; border-bottom: 3px solid #979797; padding-bottom: 22px; }
.block:after { content: " "; display: table; clear: both; }

.block__main { width: 457px; margin-right: 47px; }
.block__main .block__main-img { background: url(../img/rockets.png) no-repeat; height: 279px; width: 448px; margin-bottom: 21px; }
.block__main .img-man { background: url(../img/man.png) no-repeat; margin-bottom: 17px; }
.block__main .block__main-link { font-size: 22px; line-height: 25px; font-weight: bold; display: inline-block; margin: 0 0 12px 3px; }
.block__main .block__main-link span { font-size: 17px; }
.block__main .block__main-link span + span { font-size: 14px; }
.block__main .block__main-cont { margin-left: 2px; font-size: 12px; line-height: 18px; }

.block__cont { *zoom: 1; width: 465px; }
.block__cont:after { content: " "; display: table; clear: both; }
.block__cont .links__article { margin: 9px 0 31px; }

.block__cont-roll { display: inline-block; margin-left: 7px; margin-bottom: 29px; font-size: 15px; line-height: 19px; }
.block__cont-roll span { font-weight: bold; font-size: 12px; }
.block__cont-roll span + span { color: #e1001b; font-size: 11px; }

.block__roll { *zoom: 1; padding: 0px 0px 0px 2px; }
.block__roll:after { content: " "; display: table; clear: both; }

.block__roll-headline { font-weight: bold; font-size: 17px; line-height: 17px; margin: 46px 0 42px; }
.block__roll-headline div { display: inline-block; float: left; color: #e1001b; }
.block__roll-headline a { float: right; text-decoration: underline; }
.block__roll-headline a:hover { text-decoration: none; }

.block__roll-news { margin-bottom: 52px; *zoom: 1; }
.block__roll-news:after { content: " "; display: table; clear: both; }
.block__roll-news a { display: inline-block; font-size: 16px; line-height: 19px; margin-bottom: 11px; font-weight: bold; cursor: pointer; }
.block__roll-news a span { font-weight: normal; font-size: 15px; }
.block__roll-news a span + span { color: #e1001b; font-weight: bold; font-size: 11px; }
.block__roll-news div { letter-spacing: 0.04em; }
.block__roll-news .video + a { margin-top: 14px; }

.block-last { border-bottom: none; padding-bottom: 32px; }
.block-last .block__roll-headline { margin: 56px 0 42px; }

.block-third { padding-bottom: 0px; }
.block-third .block__roll-headline { margin: 48px 0 46px; }
.block-third .block__main .block__roll-news { margin-bottom: 49px; }
.block-third .block__cont { padding-top: 6px; padding-left: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.block-third .block__cont .block__roll-news { margin-bottom: 63px; }

.block__btn { clear: both; }

.video { float: left; height: 82px; width: 129px; margin-right: 17px; }

.video1 { background: url(../img/video1.png) no-repeat; }

.video2 { background: url(../img/video2.png) no-repeat; }

.article__acide { width: 220px; padding: 6px 0px 0px 45px; }
.article__acide .block__roll-headline { margin: 0px 0px 18px 0px; }

.article__acide-news { padding-left: 3px; margin-bottom: 48px; }
.article__acide-news .video { width: 216px; height: 133px; display: inline-block; margin: 0 0 7px 0; float: none; }
.article__acide-news .video3 { background: url(../img/video3.png); }
.article__acide-news .video4 { background: url(../img/video4.png); }
.article__acide-news .block__roll-news { letter-spacing: 0; margin: 0px 0px 19px 0px; }

.block__roll-info { margin-bottom: 56px; }
.block__roll-info .info { border: 1px solid #979797; padding: 19px 0px 21px 23px; margin-bottom: 20px; }
.block__roll-info .info .info__headline { font-size: 12px; line-height: 12px; letter-spacing: 0.17em; margin-bottom: 25px; }
.block__roll-info .info .info__headline a { text-decoration: underline; }
.block__roll-info .info .info__content { padding-left: 2px; *zoom: 1; }
.block__roll-info .info .info__content:after { content: " "; display: table; clear: both; }
.block__roll-info .info .info__content .roll { margin-bottom: 11px; }
.block__roll-info .info .info__content-var { float: left; }
.block__roll-info .info .info__content-var .roll { width: 74px; }
.block__roll-info .info .info__content-value .roll__max { font-weight: bold; }
.block__roll-info .info .info__content-value .roll__min { color: #979797; font-weight: bold; }
.block__roll-info .info-sub { padding-top: 20px; padding-bottom: 17px; }
.block__roll-info .info-sub .info__content-var { width: 90px; }
.block__roll-info .info-sub .info__headline { margin-top: 4px 0px 23px 3px; }
.block__roll-info .info-sub .roll { display: block; font-size: 12px; line-height: 17px; }

.article__acide-short { margin: 22px 0 42px; }
.article__acide-short .roll { margin-bottom: 17px; }
.article__acide-short .roll .block__cont-roll { margin: 0; line-height: 20px; }
.article__acide-short .roll .roll__author { color: #979797; font-size: 11px; line-height: 23px; letter-spacing: 0; }

/*-----footer--------------------------------------- */
.footer__ico { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 139px; padding: 43px 0 0 21px; }
.footer__ico .ico { vertical-align: middle; margin-right: 130px; }
.footer__ico .ico-6 { margin-right: 0; }

.footer__links { border-bottom: 1px solid #979797; border-top: 1px solid #979797; padding: 20px 0 6px 4px; font-size: 12px; line-height: 12px; *zoom: 1; }
.footer__links:after { content: " "; display: table; clear: both; }

.footer__bottom { *zoom: 1; padding: 28px 0px 0px 3px; }
.footer__bottom:after { content: " "; display: table; clear: both; }

.footer__bottom-copyright { float: right; font-size: 11px; font-size: 11px; }
.footer__bottom-copyright a { color: #e1001b; }
.footer__bottom-copyright a:hover { text-decoration: none; color: black; }

/*------time-------------------------------- */
.time { display: inline-block; color: #b6b6b6; font-size: 10px; line-height: 10px; }

/*-----links--------------------------------- */
.links { display: inline-block; }
.links li { float: right; }
.links a { text-decoration: none; color: black; }
.links a:hover { color: #e1001b; }
.links .is-active { color: black; }
.links .is-active:hover { color: black; cursor: default; }

.links-lang { float: right; font-size: 11px; line-height: 11px; }
.links-lang a { color: #979797; }
.links-lang li { margin-left: 8px; }
.links-lang .is-active { text-decoration: underline; }

.links-news { font-size: 13px; line-height: 18px; font-weight: bold; margin: 7px 0 0 90px; }
.links-news li { float: left; width: 200px; margin-right: 28px; }

.links-info { float: right; margin-top: 9px; }
.links-info li { margin-left: 30px; }
.links-info a { color: black; text-decoration: underline; font-weight: bold; font-size: 14px; line-height: 14px; }

.links-footer { margin-bottom: 13px; }
.links-footer li { margin-right: 22px; float: left; }
.links-footer a { color: black; font-weight: bold; position: relative; letter-spacing: 0.1em; }
.links-footer a:after { position: absolute; content: ""; height: 4px; width: 4px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: black; top: 5px; right: -10px; }
.links-footer .clear { margin-right: 0; }
.links-footer .clear a { clear: both; }
.links-footer .clear a:after { content: ""; display: none; }

.links__article { font-weight: bold; font-size: 12px; line-height: 12px; }
.links__article li { float: left; margin-right: 16px; }
.links__article a { color: black; padding: 4px 5px 2px 6px; letter-spacing: 0.16em; }
.links__article .is-active { border: 2px solid #e1001b; }
.links__article .last { margin-right: 0; }

.links-prew { margin: 7px 0 28px; font-weight: bold; font-size: 12px; line-height: 12px; border: 2px transparent solid; padding: 4px 9px 3px; text-decoration: underline; }
.links-prew span { font-size: 24px; display: inline-block; overflow: hidden; width: 13px; margin-right: 9px; }
.links-prew:hover { border: 2px #e1001b solid; }

/*-----ico------------------------------------------ */
.ico { display: inline-block; }

.ico-1 { background: url('../img/icons-s73dd3a09a0.png') 0 -111px no-repeat; width: 83px; height: 50px; }

.ico-2 { background: url('../img/icons-s73dd3a09a0.png') 0 -232px no-repeat; width: 81px; height: 55px; }

.ico-3 { background: url('../img/icons-s73dd3a09a0.png') 0 -297px no-repeat; width: 57px; height: 43px; }

.ico-4 { background: url('../img/icons-s73dd3a09a0.png') 0 0 no-repeat; width: 78px; height: 61px; }

.ico-5 { background: url('../img/icons-s73dd3a09a0.png') 0 -171px no-repeat; width: 97px; height: 51px; }

.ico-6 { background: url('../img/icons-s73dd3a09a0.png') 0 -71px no-repeat; width: 113px; height: 30px; }

.ico-counter { background: url('../img/icons-s73dd3a09a0.png') 0 -350px no-repeat; width: 84px; height: 28px; }
