html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

a { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.wrap { width: 1235px; margin: 22px auto; font: 13px sans-serif; }

/*-----header--------------------------------------- */
.header { *zoom: 1; border-bottom: 2px solid #979797; height: 106px; }
.header:after { content: " "; display: table; clear: both; }

.header__roll { display: block; *zoom: 1; margin-bottom: 11px; }
.header__roll:after { content: " "; display: table; clear: both; }
.header__roll .header__roll-vers { display: inline-block; font-size: 11px; line-height: 11px; margin-left: 100px; }
.header__roll div, .header__roll ul { vertical-align: top; }

.logo { background: url(../img/logo.png); height: 49px; width: 186px; display: inline-block; }

/*-----article-------------------------------------- */
.article { border-bottom: 3px solid #979797; }

/*-----footer--------------------------------------- */
.footer__ico { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 139px; padding: 43px 0 0 21px; }
.footer__ico .ico { vertical-align: middle; margin-right: 130px; }
.footer__ico .ico-6 { margin-right: 0; }

.footer__links { border-bottom: 1px solid #979797; border-top: 1px solid #979797; padding: 20px 0 6px 4px; font-size: 12px; line-height: 12px; *zoom: 1; }
.footer__links:after { content: " "; display: table; clear: both; }

.footer__bottom { *zoom: 1; padding: 28px 0px 0px 3px; }
.footer__bottom:after { content: " "; display: table; clear: both; }

.footer__bottom-copyright { float: right; font-size: 11px; font-size: 11px; }
.footer__bottom-copyright a { color: #e1001b; }
.footer__bottom-copyright a:hover { text-decoration: none; color: black; }

/*------time-------------------------------- */
.time { display: inline-block; color: #b6b6b6; font-size: 10px; line-height: 10px; }

/*-----links--------------------------------- */
.links { display: inline-block; }
.links li { float: right; }
.links a { text-decoration: none; color: #a7a7a7; }
.links a:hover { color: #e1001b; }
.links .is-active { color: black; }
.links .is-active:hover { color: black; cursor: default; }

.links-lang { float: right; font-size: 11px; line-height: 11px; }
.links-lang li { margin-left: 8px; }
.links-lang .is-active { text-decoration: underline; }

.links-news { font-size: 13px; line-height: 18px; font-weight: bold; margin: 7px 0 0 90px; }
.links-news li { float: left; width: 200px; margin-right: 28px; }

.links-info { float: right; margin-top: 9px; }
.links-info li { margin-left: 30px; }
.links-info a { color: black; text-decoration: underline; font-weight: bold; font-size: 14px; line-height: 14px; }

.links-footer { margin-bottom: 13px; }
.links-footer li { margin-right: 22px; float: left; }
.links-footer a { color: black; font-weight: bold; position: relative; letter-spacing: 0.1em; }
.links-footer a:after { position: absolute; content: ""; height: 4px; width: 4px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: black; top: 5px; right: -10px; }
.links-footer .clear { margin-right: 0; }
.links-footer .clear a { clear: both; }
.links-footer .clear a:after { content: ""; display: none; }

/*-----ico------------------------------------------ */
.ico { display: inline-block; }

.ico-1 { background: url('../img/icons-s73dd3a09a0.png') 0 -111px no-repeat; width: 83px; height: 50px; }

.ico-2 { background: url('../img/icons-s73dd3a09a0.png') 0 -232px no-repeat; width: 81px; height: 55px; }

.ico-3 { background: url('../img/icons-s73dd3a09a0.png') 0 -297px no-repeat; width: 57px; height: 43px; }

.ico-4 { background: url('../img/icons-s73dd3a09a0.png') 0 0 no-repeat; width: 78px; height: 61px; }

.ico-5 { background: url('../img/icons-s73dd3a09a0.png') 0 -171px no-repeat; width: 97px; height: 51px; }

.ico-6 { background: url('../img/icons-s73dd3a09a0.png') 0 -71px no-repeat; width: 113px; height: 30px; }

.ico-counter { background: url('../img/icons-s73dd3a09a0.png') 0 -350px no-repeat; width: 84px; height: 28px; }
