$red: #e1001b
$gray: #979797
a
	+transition (0.2s)
.wrap
	width: 1235px
	margin: 22px auto 
	font: 13px sans-serif
/*-----tooper---------------------------------------*/
.tooper
	margin-bottom: 11px
	+clr
	div, ul
		vertical-align: top
.tooper__vers
	display: inline-block
	font-size: 11px
	line-height: 11px
	margin-left: 100px
/*-----header---------------------------------*/				
.header
	+clr
	border-bottom: 2px solid $gray
	padding-bottom: 31px
.logo	
	background: url(../img/logo.png) 
	height: 49px
	width: 186px
	display: inline-block	
	+hide-text
	vertical-align: bottom		 
/*-----main--------------------------------------*/	
.main
	letter-spacing: 0.07em 	
	border-bottom: 3px solid $gray
	+clr
	padding-top: 50px
	a
		text-decoration: none
		color: #000 
		&:hover
			color: $red 
	section
		float: left 
.content
	width: 970px
.block
	+clr
	border-bottom: 3px solid $gray
	padding-bottom: 22px 
.block__main
	width: 457px
	margin-right: 47px 
	.block__main-img
		height: 285px
		width: 448px	
		margin-bottom: 21px 
		overflow: hidden
		a
		img
			width: 100%
	.img-man
		margin-bottom: 17px
		img
			width: 100%
	.block__main-link
		font-size: 22px
		line-height: 25px
		font-weight: bold	
		display: inline-block
		margin: 0 0 12px 3px 
		.time
			font-size: 17px
		.number
			font-size: 14px	
	.block__main-cont
		margin-left: 2px
		font-size: 12px
		line-height: 18px
.block__cont
	+clr
	width: 465px
	.menu__article
		margin: 9px 0 31px 
.block__cont-roll
	display: inline-block
	margin-left: 7px
	margin-bottom: 29px
	font-size: 15px
	line-height: 19px
	.time
		font-weight: bold
		font-size: 12px
	.number
		font-weight: bold
		font-size: 11px
.block__roll
	+clr
	padding: 0px 0px 0px 2px 
.block__roll-headline	
	font-weight: bold
	font-size: 17px
	line-height: 17px
	margin: 46px 0 42px 
	.title
		display: inline-block
		float: left
		color: $red 
		font-size: 17px
		line-height: 17px
	a	
		float: right
		text-decoration: underline	
		&:hover
			text-decoration: none
.block__roll-news
	margin-bottom: 52px
	+clr
	a
		display: inline-block
		font-size: 16px
		line-height: 19px
		margin-bottom: 11px
		font-weight: bold
		cursor: pointer
		.time
			font-size: 15px
		.number
			font-weight: bold
			font-size: 11px
	div
		letter-spacing: 0.04em
	.video + a
		margin-top: 14px	
.block-last
	border-bottom: none
	padding-bottom: 32px 	
	.block__roll-headline
		margin: 56px 0 42px	
.block-third
	padding-bottom: 0px
	.block__roll-headline
		margin: 48px 0 46px
	.block__main
		.block__roll-news
			margin-bottom: 49px		
	.block__cont
		padding-top: 6px
		padding-left: 5px
		+box 
		.block__roll-news
			margin-bottom: 63px
.block__btn
	clear: both			
.video
	float: left
	height: 82px
	width: 129px
	margin-right: 17px
	overflow: hidden
	img
		width: 100%
.acide
	width: 220px
	padding: 6px 0px 0px 45px 
	.block__roll-headline
		margin: 0px 0px 18px 0px
.article-news
	padding-left: 3px
	margin-bottom: 60px
	.video
		width: 216px
		height: 133px
		display: inline-block
		margin: 0 0 7px 0
		float: none
		overflow: hidden
	.block__roll-news
		letter-spacing: 0 
		margin: 0px 0px 33px 0px 
		padding: 0
		a
			font-size: 15px
			line-height: 18px 
			margin-bottom: 2px	
.article-info
	margin-bottom: 56px
.info
	border: 1px solid $gray
	padding: 19px 0px 21px 23px
	margin-bottom: 20px
	.info__headline
		font-size: 12px
		line-height: 12px 
		letter-spacing: 0.17em 
		margin-bottom: 25px						
		a
			text-decoration: underline	
	.info__content
		padding-left: 2px
		+clr
		.roll
			margin-bottom: 11px	
	.info__content-var
		float: left
		.roll
			width: 74px
	.info__content-value
		.roll__max
			font-weight: bold
		.roll__min
			color: $gray
			font-weight: bold 
.info-sub
	padding-top: 20px
	padding-bottom: 17px
	.info__content-var
		width: 90px
	.info__headline
		margin-top: 4px 0px 23px 3px
	.roll
		display: block
		font-size: 12px
		line-height: 17px	
.article-short
	margin: 22px 0 42px
	.roll
		margin-bottom: 17px
		.block__cont-roll
			margin: 0
			line-height: 20px
		.roll__author
			color: $gray
			font-size: 11px
			line-height: 23px 
			letter-spacing: 0
/*-----footer---------------------------------------*/	
.footer__ico
	+box
	height: 139px
	padding: 43px 0 0 21px 
	.ico
		vertical-align: middle
		margin-right: 130px 
	.ico-6
		margin-right: 0	
.footer__link
	border-bottom: 1px solid $gray
	border-top: 1px solid $gray
	padding: 20px 0 6px 4px
	font-size: 12px
	line-height: 12px
	+clr 
.footer__bottom	
	+clr
	padding: 28px 0px 0px 3px
.footer__bottom-copyright
	float: right
	font-size: 12px
	a
		color: $red
		&:hover
			text-decoration: none
/*------data--------------------------------*/
.data
	display: inline-block
	color: #b6b6b6 
	font-size: 10px
	line-height: 10px 
/*-----link---------------------------------*/		
.link
	display: inline-block
	li
		float: right
	a
		text-decoration: none
		color: #000
		&:hover
			color: $red 
	.is-active
		color: #000 
		&:hover
			color: #000
.link__prew	
	margin: 7px 0 28px 
	font-weight: bold
	font-size: 12px
	line-height: 12px
	border: 2px #000 solid	
	padding: 4px 9px 3px 
	text-decoration: underline
	.link__prew-sign
		font-size: 24px
		display: inline-block
		overflow: hidden
		width: 13px
		margin-right: 9px
	&:hover	
		border: 2px $red solid
/*-----ico------------------------------------------*/
.ico
	display: inline-block
.ico-1
	+s(ico-1)	
.ico-2
	+s(ico-2)	
.ico-3
	+s(ico-3)	
.ico-4
	+s(ico-4)	
.ico-5
	+s(ico-5)	
.ico-6
	+s(ico-6)
.ico-counter
	+s(ico-counter)		
/////////////////////////////////////////////	
.time, .number
	display: inline-block	
.number
	color: $red	
/*-----menu------------------------------*/	
.menu-lang
	float: right	
	font-size: 11px
	line-height: 11px
	a
		color: $gray 
	li
		margin-left: 8px
	.is-active
		text-decoration: underline
.menu-news
	font-size: 13px
	line-height: 18px
	font-weight: bold 
	margin: 7px 0 0 90px 
	li
		float: left
		width: 200px
		margin-right: 28px
.menu-info	
	float: right
	margin-top: 9px
	li
		margin-left: 30px
	a	
		color: #000
		text-decoration: underline
		font-weight: bold
		font-size: 14px
		line-height: 14px
		&:hover
			text-decoration: none	
.menu-footer
	margin-bottom: 13px 
	li
		margin-right: 22px
		float: left
	a	
		color: #000 
		font-weight: bold	
		position: relative
		letter-spacing: 0.1em 	
		&:after
			position: absolute
			content: ""
			height: 4px
			width: 4px
			+border-radius (50%)
			background: #000
			top: 5px
			right: -10px 
	.clear
		margin-right: 0 
		a
			clear: both	
			&:after
				content: ""
				display: none		
.menu__article
	font-weight: bold
	font-size: 12px
	line-height: 12px	
	li
		float: left
		margin-right: 14px
	a	
		color: #000
		padding: 4px 5px 2px 6px 
		letter-spacing: 0.16em 
		border: 2px solid transparent		
	.is-active
		border: 2px solid $red 
	.last
		margin-right: 0							
